<div class="container col-12">
  <div class="contact col-3 m-auto pt-5">
    <h2 class="title">Entre em contato!</h2>
    <p>Deixe aqui sua mensagem e em breve retornaremos contato <br/>Fique atento ao seu e-mail ou Whatsapp!</p>
  </div>
  <form class="col-9 m-auto py-5">
    <div class="mb-3">
      <label for="name" class="form-label">Nome</label>
      <input type="text" class="form-control border border-2 border-dark" id="name" placeholder="Seu Nome"/>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control border border-2 border-dark" id="email" placeholder="Seu E-mail"/>
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Telefone</label>
      <input type="text" class="form-control border border-2 border-dark" id="phone" placeholder="(DDD) 00000-0000"/>
    </div>
    <div class="mb-3">
      <label for="text" class="form-label">Deixe aqui sua mensagem</label>
      <textarea class="form-control border-2 border-2 border-dark" id="text" placeholder="Mensagem"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar Mensagem</button>
  </form>

  <div class="contact_whats col-3 m-auto pt-5">
    <p>Caso queira um atedimento mais rapido fale agora pelo Whatsapp!</p>
    <a target="_blank" href="#" ><button class="btn btn-success">WHATSAPP</button></a>
  </div>

</div>
