<div class="container">
  <div class="contact col-3 m-auto py-5">
    <h2>Entre em contato!</h2>
    <p>Deixe aqui sua mensagem e em breve retornaremos contato</p>
    <p>Fique atento ao seu e-mail ou Whatsapp!</p>
  </div>
  <form class="col-9 m-auto py-5">
    <div class="mb-3">
      <label for="name" class="form-label">Nome</label>
      <input type="text" class="form-control border border-2 border-dark" id="name" />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control border border-2 border-dark" id="email" />
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Telefone</label>
      <input type="text" class="form-control border border-2 border-dark" id="phone" placeholder="(DDD) 00000-0000"/>
    </div>
    <div class="mb-3">
      <label for="text" class="form-label">Deixe aqui sua mensagem</label>
      <textarea class="form-control border-2 border-2 border-dark" id="text"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>

  <div class="col-5 m-auto py-5">
    <p>Caso queira um atedimento mais rapido fale agora pelo Whatsapp!</p>
    <button class="btn btn-success my-auto">WHATSAPP</button>
  </div>

</div>
